# General
NUXT_SITE_URL=http://localhost:3000
NODE_ENV=development

# Dev SSL (optional)
NUXT_DEV_SSL=false

# Licenses
NUXT_LIGHT_GALLERY_LICENSE_KEY=0000-0000-000-0000

# S3 Storage (Nitro)
NITRO_S3_ENDPOINT=
NITRO_S3_REGION=
NITRO_S3_ACCESS_KEY_ID=
NITRO_S3_SECRET_ACCESS_KEY=
NITRO_S3_BUCKET=

# API Configuration (Nitro)
NITRO_API_URL=
NITRO_API_TOKEN=
NITRO_API_SECRET=

# Auth Service (Nitro)
NITRO_AUTH_API_URL=
NITRO_AUTH_JWT_SECRET=
