@use '../variables' as *;

// <transition name="<class>"/>
.fade {
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
  }

  &-enter-active,
  &-leave-active {
    @include css-anim;
  }
}

.nav-popover-animation {
  &-enter-from,
  &-leave-to {
    z-index: -1;
    transform: scale(0) translate3d(0, 0, 0);
    opacity: 0;
  }

  &-enter-to,
  &-leave-from {
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
  }

  &-enter-active,
  &-leave-active {
    @include css-anim(
      $time: 0.25s,
      $style: cubic-bezier(0.215, 0.61, 0.355, 1)
    );
  }
}
