html.dark {
  --color-bg-main: #131A20;
  --color-bg-secondary: #19222A;
  --color-bg-menu: linear-gradient(135deg, #23323bc7, #19141fc7);

  --color-text: #d9d9d9;
  --color-text-title: #ffffff;
  --color-text-bold: #ffffff;
  --color-text-gray: #a4a4a4;
  --color-text-selected: #f8f8f8;
  --color-hover: rgba(255, 255, 255, 0.05);
  --color-border: rgba(255, 255, 255, 0.08);
  --color-primary: #447cc7;

  // Badge
  --color-badge-hb: #405710;
  --color-badge-3rd: #483475;
  --color-badge-basic: var(--color-primary);
  --color-badge-ua: var(--color-hover);

  // Scroll
  --color-thumb-bg: rgba(255, 255, 255, 0.6);
  --color-thumb-bg-hover: rgba(255, 255, 255, 0.8);

  // Logo
  --color-logo-stroke: #2F4262;
  --color-logo-dice: #38B1C6;
  --color-logo-tree-top: #4AC2D3;
  --color-logo-tree-bottom: #1D577D;
}

html.light {
  --color-bg-main: #fdfaf9;
  --color-bg-secondary: #dceee5;
  --color-bg-menu: linear-gradient(135deg, #f7f2c5c7, #f7f1e5c7);

  --color-text: #1F1E1E;
  --color-text-title: #042a12;
  --color-text-bold: #313131;
  --color-text-gray: #6a6a6a;
  --color-text-selected: #f8f8f8;
  --color-hover: rgba(00, 00, 00, 0.08);
  --color-border: rgba(0, 0, 0, 0.08);
  --color-primary: #5e5446;

  // Badge
  --color-badge-hb: #97ca28;
  --color-badge-3rd: #d4cbe9;
  --color-badge-basic: var(--color-primary);
  --color-badge-ua: var(--color-hover);

  // Scroll
  --color-thumb-bg: rgba(0, 0, 0, 0.6);
  --color-thumb-bg-hover: rgba(0, 0, 0, 0.8);

  // Logo
  --color-logo-stroke: #353430;
  --color-logo-dice: #353430;
  --color-logo-tree-top: #B34536;
  --color-logo-tree-bottom: #B34536;
}

html {
  --color-discord-base: #5865f2;
  --color-discord-hover: #3f4cd9;
  --color-patreon-base: #ff424d;
  --color-patreon-hover: #e62934;
  --color-vk-base: #0077ff;
  --color-vk-hover: #005ee6;
  --color-boosty-base: #f15f2c;
  --color-boosty-hover: #d84613;
  --color-youtube-base: #ff0000;
  --color-youtube-hover: #a80000;
  --color-success: #67c23a;
  --color-success-hover: darken(#67c23a, 7%);
  --color-warning: #e6a23c;
  --color-warning-hover: darken(#e6a23c, 7%);
  --color-error: #f56c6c;
  --color-error-hover: darken(#f56c6c, 7%);
  --color-info: #909399;
  --color-info-hover: darken(#909399, 7%);
}

html.svifty7 {
  --color-bg-main: #1F1F22;
  --color-bg-secondary: #2C2C30;
  --color-bg-menu: linear-gradient(135deg, #252528c7, #1F1F22c7);

  --color-overlay: #25222580;
  --color-shadow: #0f0f1280;

  --color-text: #B8B6A8;
  --color-text-title: #C2C0B2;
  --color-text-bold: #C9C7B9;
  --color-text-gray: #8F8D82;
  --color-text-selected: #A68F60;
  --color-hover: #F7F7F718;
  --color-border: #3A3A4011;
  --color-primary: #A54D42;

  // Badge
  --color-badge-hb: #405710;
  --color-badge-3rd: #483475;
  --color-badge-basic: var(--color-primary);
  --color-badge-ua: var(--color-hover);

  // Scroll
  --color-thumb-bg: rgba(255, 255, 255, 0.6);
  --color-thumb-bg-hover: rgba(255, 255, 255, 0.8);

  // Logo
  --color-logo-stroke: #A68F60;
  --color-logo-dice: #A68F60;
  --color-logo-tree-top: #A54D42;
  --color-logo-tree-bottom: #A54D42;

  --color-success: #6BA854;
  --color-success-hover: lighten(#6BA854, 7%);
  --color-warning: #B58F4D;
  --color-warning-hover: lighten(#B58F4D, 7%);
  --color-error: #B85454;
  --color-error-hover: lighten(#B85454, 7%);
  --color-info: #4D88B8;
  --color-info-hover: lighten(#4D88B8, 7%);
}
