@forward '../variables';

html {
  --breakpoint-xs: $xs;
  --breakpoint-sm: $sm;
  --breakpoint-md: $md;
  --breakpoint-lg: $lg;
  --breakpoint-xl: $xl;
  --breakpoint-xxl: $xxl;
  --breakpoint-full-hd: $full-hd;
  --breakpoint-retina: $retina;
  --breakpoint-ultra-hd: $ultra-hd;
}
