@forward 'dark';
@forward 'light';
@forward 'svifty7';

html {
  --color-discord-base: #5865f2;
  --color-discord-hover: #3f4cd9;
  --color-patreon-base: #ff424d;
  --color-patreon-hover: #e62934;
  --color-vk-base: #0077ff;
  --color-vk-hover: #005ee6;
  --color-boosty-base: #f15f2c;
  --color-boosty-hover: #d84613;
  --color-youtube-base: #ff0000;
  --color-youtube-hover: #a80000;

  /* Gradients */
  --color-bg-main-gradient: to top, var(--ui-bg) 0%, var(--ui-bg) 40%, var(--ui-bg-muted) 100%;
  --color-bg-menu: linear-gradient(135deg, #23323bc7, rgba(11,30,43,0.87));
}
