$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

@mixin media-min($breakpoint) {
  @if $breakpoint != all {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  }
}

@mixin media-max($breakpoint) {
  @if $breakpoint != all {
    @media screen and (max-width: $breakpoint - 1px) {
      @content;
    }
  }
}

@mixin media-minmax($min, $max) {
  @media screen and (max-width: $min - 1px), screen and (min-width: $max) {
    @content;
  }
}

@mixin media-fromto($min, $max) {
  @media screen and (min-width: $min - 1px) and (max-width: $max) {
    @content;
  }
}
