@use 'variables' as *;

@supports (scrollbar-width: thin) {
  * {
    scrollbar-width: thin;
  }
}

@supports not (scrollbar-width: thin) {
  ::-webkit-scrollbar {
    width: 14px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    transition: background 100ms ease;
  }

  ::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  appearance: none;
  outline: none;

  -webkit-overflow-scrolling: touch;

  &::selection {
    color: var(--ui-text-highlighted);
    background: var(--color-primary);
  }

  @media (hover: none) and (pointer: coarse) {
    &:hover {
      all: unset !important;
    }
  }
}

html,
body,
.ttg-club,
.ttg-app {
  width: 100%;
}

html {
  --scrollbar-width: 0;

  &[style*='overflow:hidden'],
  &[style*='overflow: hidden'] {
    padding-right: var(--scrollbar-width);
  }
}

body {
  z-index: 1;
  min-height: 100vh;
  font-size: var(--font-size-main);
}

.ttg-app {
  display: flex;
  flex-flow: column-reverse;
  padding-bottom: var(--navbar-height);

  @include media-min($md) {
    flex-flow: row;
    padding-bottom: 0;
    padding-left: var(--navbar-width);
  }
}
