*,
*:before,
*:after {
  box-sizing: border-box;
  appearance: none;
  outline: none;

  -webkit-overflow-scrolling: touch;
}

html,
body {
  z-index: 1;

  display: flex;

  font-family:
    Open Sans,
    sans-serif;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  color: var(--text-color);

  background: var(--bg-main);
  outline: none;

  transition:
    background-color ease-in-out 0.2s,
    color ease-in-out 0.2s;
}

.container {
  position: relative;

  overflow: auto;

  width: 100%;
  height: var(--max-vh);
  margin: auto;
  padding: 0 16px;

  @media screen and (min-width: var(--xl)) {
    .container {
      padding: 0 24px;
    }
  }
}
