name: Code Check

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
      - review_requested
      - auto_merge_enabled

  workflow_call:

permissions:
  contents: read
  security-events: write

concurrency:
  group: code-check-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  check:
    name: Build and Check
    if: ${{ !github.event.pull_request.draft }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Stylelint
        run: pnpm run stylelint:workflow

      - name: ESLint
        run: pnpm run lint:workflow

      - name: Type Check
        run: pnpm run type-check
